.chat-main__message__box{data: {message: {id: message.id}}}
  .chat-main__message__box__in
    %p.chat-main__message__box__in--name
      = message.user.name 
    %p.chat-main__message__box__in--date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-text
    - if message.content.present?
      %p.chat-main__message__box--text
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

